.schedules__list-skeleton
    display: flex
    align-items: center
    justify-content: space-between

.schedule__item-skeleton
    width: 330px
    height: 150px
    position: relative

.schedule__item-skeleton-bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -99

    span
        height: 100%
        border-radius: 10px

.schedule__item-skeleton-inner
    height: 100%
    padding: 8px 16px

    span
        --base-color: #252525 !important
        --highlight-color: #404040 !important

.schedule__item-skeleton-title
    span
        height: 30px

.schedule__item-skeleton-episode
    margin-top: 10px
    span
        width: 100px

.schedule__item-skeleton-desc
    display: flex
    gap: 15px
    margin-top: 10px
   
    span
        width: 60px

.schedule__item-skeleton-genres
    display: flex
    gap: 15px
    margin-top: 5px
    
    span
        width: 120px
