.franchises
    .transition
        width: 100%

.franchises__list
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    gap: 20px

.franchises__list_one-item
    display: flex

    .franchises__link
        width: 500px
