@use "/src/style/color.sass" as * 


.header
    background-color: $black
    padding: 8px 0
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 9

.header__inner
    display: flex
    justify-content: space-between
    align-items: center
    position: relative

.header__list
    display: flex
    align-items: center
    column-gap: 10px

.header__logo
    margin-right: 25px

.header__logo-svg
    height: 40px
    width: 40px
    transform: rotate(-18deg)

.header__navigation
    margin-right: auto
    margin-left: 0

.header__svg
    stroke: $white
    fill: $white
    scale: 0.9

.header__avatar-container
    border: 1px solid $white
    border-radius: 50%
    display: flex
    width: 22px
    height: 22px
    overflow: hidden
    cursor: pointer

.header__avatar
    text-align: center
    width: 22px
    height: 22px
    font-size: 16px