@use "/src/style/color.sass" as *

    
.double-input__container
    font-size: 15px
    display: flex
    justify-content: space-between
    align-items: center
    column-gap: 15px

    span
        width: 55px

#double-input
    height: 6px
    background-color: $sub-white
    
    .range-slider__thumb
        width: 14px
        height: 14px
        background-color: $gray

    .range-slider__range
        background-color: $gray
