@use "/src/style/color.sass" as *


.form-title
    h3
        display: flex
        border-radius: 10px
        background-color: $sub-gray
        gap: 10px
        padding: 14px

        svg
            fill: $white

.form-title__list
    border-radius: 10px
    padding: 14px
    background-color: $sub-gray
    margin: 10px 0

.form-title__item + .form-title__item
    margin-top: 10px

.form-title__column
    width: 100%

.form-title__genres
    border-radius: 10px
    padding: 14px
    background-color: $sub-gray
    margin: 10px 0
