@use "/src/style/color.sass" as *


.genres__item-link
    display: flex
    justify-content: center
    border-radius: 10px
    gap: 10px
    background-color: rgba($bg-secondary, 0.7)
    padding: 12px 6px
    height: fit-content

    &:hover
        svg
            color: $accent

    svg
        width: 22px
        height: 22px
        color: $accent-dark
        transition: color 0.3s

    h4::first-letter
        text-transform: capitalize
