@use "/src/style/color.sass" as *
    

.genres__item
    position: relative
    border-radius: 10px
    overflow: hidden
    height: 330px
    width: 210px

    &:hover
        .genres__bg
            opacity: 0.7

.genres__item-link
    display: flex
    justify-content: center

.genres__bg
    transition: opacity 0.3s
    height: 100%
    width: 100%
    object-fit: cover
    opacity: 0.3

.genres__desc-list
    position: absolute
    bottom: 20px
    width: 100%
    text-align: center
    transition: color 0.3s
    color: $white

    &::first-letter
        text-transform: capitalize

.genres__desc-item
    font-weight: 600
    opacity: 0.6
    font-size: 14px

.genres__desc_title
    font-size: 16px
    font-weight: 900
    opacity: 1
    