
.search-popup__item-skeleton
    margin: 10px 0
    display: flex
    height: 85px
    span
        --base-color: #252525 !important
        --highlight-color: #404040 !important

.search-popup__img-skeleton
    span
        height: 100%
        width: 60px
        border-radius: 8px

.search-popup__content
    align-self: flex-start


.search-popup__title-skeleton
    span
        width: 220px
        margin: 10px 0

.search-popup__bottom-skeleton
    span
        width: 140px