@use "/src/style/color.sass" as *
@use "/src/style/fonts_.sass" as *


.schedule__item
    position: relative

    &:not(:last-child)::before
        content: ""
        position: absolute
        width: 100%
        height: 1px
        left: 0
        bottom: -7px
        z-index: 9
        background-color: $border

    & + .schedule__item
        margin-top: 14px

.schedule__link
    display: flex
    align-items: center
    justify-content: space-between
    gap: 15px

    time
        font-size: 16px
        font-family: $font-number

.schedule__container
    display: flex
    gap: 14px
    align-items: center

    h3
        width: 180px

.schedule__img
    width: 40px
    aspect-ratio: 2 / 3

    img
        object-fit: cover
        height: 100%
        width: 100%
        border-radius: 4px

.schedule__episode
    opacity: 0.6
    font-family: $font-ui
    font-size: 14px
    margin-top: 5px

.schedule__date
    text-align: end
    width: 135px
