@use "/src/style/color.sass" as *


.banner
    position: relative
    width: 100%
    height: 100%
    color: $primary
    font-size: 16px

.banner__inner-rating
    width: fit-content
    margin-right: 15px
    margin-left: auto
    position: relative

    p
        font-size: 18px
        font-weight: 900
        position: absolute
        top: 0
        right: 50%
        transform: translate(50%, 50%)

    div
        border-width: 40px 25px 20px
        border-style: solid
        border-color: $accent $accent transparent
        opacity: 0.6

.banner__bg
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute
    opacity: 0.1
    transition: opacity 0.3s

.banner__inner
    position: absolute
    top: 50%
    left: 30px
    right: 30px
    transform: translate(0, -50%)

.banner__title
    font-weight: 900
    line-height: 1.2
    margin-bottom: 15px
    max-width: 1200px
    word-break: break-word
    max-height: 70px
    overflow: hidden

    &::first-letter
        text-transform: capitalize

.banner-desc__list
    display: flex
    margin-top: 10px

.banner-desc__item
    font-size: 15px
    margin-right: 10px
    padding: 4px 10px
    border-radius: 4px
    background-color: rgba($disabled, 0.7)
    font-weight: 600
    color: rgba($primary, 0.8)

    &::first-letter
        text-transform: capitalize

.banner__description
    margin: 15px 0
    line-height: 1.2
    color: $muted
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 5
    -webkit-box-orient: vertical
    text-overflow: ellipsis
    white-space: pre-line

.banner__link
    position: absolute
    bottom: 50px
    left: 30px
    display: flex
    justify-content: center
    align-items: center
    background-color: rgba($accent, 0.5)
    border-radius: 6px
    font-weight: 900
    font-size: 16px
    justify-self: flex-start
    padding: 8px 18px 8px 8px
