@use "/src/style/color.sass" as *


.slide
    position: relative
    width: 100%
    height: 100%
    color: $white
    font-size: 16px

    &:not([src])::before
        content: ""
        position: absolute
        width: 100%
        height: 100%    
        opacity: 0.2
        background-color: $sub-black-2
        border-radius: 10px

.slide__inner-rating
    width: fit-content
    margin-right: 15px
    margin-left: auto
    position: relative

    p
        font-size: 18px
        font-weight: 900
        position: absolute
        top: 0
        right: 50%
        transform: translate(50%, 50%)

    div
        border-width: 40px 25px 20px
        border-style: solid
        border-color: $red $red transparent
        opacity: 0.6

.slide__bg
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute
    opacity: 0.1
    transition: opacity 0.3s

    &:not([src])
        opacity: 0
        visibility: hidden

.slide__inner
    position: absolute
    top: 50%
    left: 30px
    right: 30px
    transform: translate(0, -50%)

.slide__title
    font-size: 30px
    font-weight: 900
    line-height: 1.2
    margin-bottom: 15px

.slide-desc__list
    display: flex
    margin-top: 10px

.slide-desc__item
    margin: 0 10px
    position: relative
    text-transform: capitalize

    &::before
        content: ""
        position: absolute
        top: 7px
        left: -11px
        width: 6px
        height: 6px
        background-color: $gray
        border-radius: 50%

.slide-desc__item_gray
    color: $sub-white-2
    transition: color 0.3s

    + .slide-desc__item_gray
        position: relative
        
        &::before 
            content: ""
            width: 6px
            height: 6px
            top: 8px
            left: -10px
            position: absolute
            border-radius: 50% 
            background-color: $gray
    
.slide__description
    margin: 15px 0
    line-height: 1.2
    color: $gray
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 6
    -webkit-box-orient: vertical
    text-overflow: ellipsis

.slide-main__link
    display: flex
    justify-content: center
    align-items: center
    max-width: 220px
    height: 40px    
    background-color: $sub-white
    border-radius: 12px
    column-gap: 10px
    font-weight: 900
    font-size: 10pt
    width: fit-content
    padding: 0 14px
    
    svg
    
        stroke: $white
        stroke-width: 2px

.slide__link
    transition: color 0.3s

    &:hover
        color: $gray
