@use "/src/style/color.sass" as *


.root-schedule__item
    border: 1px solid $gray
    padding: 10px
    border-radius: 6px

.root-schedule__btn-container
    position: relative
    margin-left: auto
    margin-right: 0

    .btn-default
        font-size: 16px
        padding: 4px
        border-radius: 4px

        &:first-child
            margin-right: 5px

        &:last-child
            margin-left: 5px
