@use "/src/style/color.sass" as *


.title-nav__list
    margin-top: 25px
    display: flex
    gap: 20px
    padding: 10px 0
    width: fit-content

.title-nav-link
    display: flex
    font-weight: 900
    padding-bottom: 10px

    svg
        fill: $primary
        color: $primary
        margin-right: 5px

    &_active
        color: $accent
        border-bottom: 1px solid $accent

        svg
            fill: $accent
            color: $accent
