@use "/src/style/color.sass" as *
@use "/src/style/fonts_.sass" as *


.franchise__link
    display: flex
    background-color: rgba($bg-secondary, 0.7)
    border-radius: 6px
    overflow: hidden
    width: 370px

    &:hover
        .franchise__img
            img
                opacity: 0.9

.franchise__img
    max-width: 180px

    img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 6px
        opacity: 0.6
        transition: opacity 0.3s

.franchise__info
    display: flex
    flex-direction: column
    padding: 10px 16px

.franchise__item-bottom
    margin-top: auto
    margin-bottom: 0
    font-family: $font-number
    color: $muted
    font-size: 14px
