@use "/src/style/color.sass" as * 

.franchises__item
    height: 250px
    width: 440px

.franchises__link
    max-width: 430px
    display: flex
    background-color: $sub-gray
    border-radius: 8px
    overflow: hidden
    height: 100%

    &:hover
        .franchises__bg-container
            opacity: 0.7

.franchises__bg-container
    min-width: 160px
    overflow: hidden
    transition: opacity 0.3s
    opacity: 0.4
    height: 100%
    position: relative
    border-radius: 10px

.franchises__bg
    height: 100%
    display: block
    width: 100%
    object-fit: cover

.franchises__container
    padding: 10px 18px
    color: $gray
    display: flex
    justify-content: space-between
    align-items: flex-start 
    flex-direction: column

.franchises__desc_title
    color: $white
    font-size: 20px
    font-weight: 500
    min-width: 230px
    max-width: 300px 
    overflow: hidden

.franchises__desc-item
    font-size: 14px
    
    .point + .point
        position: relative
        margin-left: 15px

    .point::before
        width: 5px
        height: 5px
        left: -8px
