@use "/src/style/color.sass" as *

.root-banner__item
    display: flex
    align-items: center
    border-radius: 8px
    padding: 10px 20px
    gap: 14px
    background-color: #111
    margin: 10px
    justify-content: space-between

    .btn-default
        padding: 8px
        border-radius: 4px
        background-color: $sub-gray

.root-banner__drop
    width: 30px
    height: 30px
    color: $gray
    cursor: pointer

.root-banner__container
    aspect-ratio: 32 / 9
    max-width: 420px
    position: relative

    h4
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-weight: 900

    img
        width: 100%
        border-radius: 6px
        object-fit: cover
        opacity: 0.3

.root-banner__info
    margin-top: 10px
    font-weight: 600
    display: flex
    align-items: center
    gap: 10px

.root-banner__active
    border-radius: 4px
    padding: 2px 6px
    font-size: 18px
    width: fit-content
    margin-bottom: 5px
    width: 110px
    text-align: center
    transition: background-color 0.3s, color 0.3s

    &[data-root-banner="true"]
        color: $green
        background-color: $t-green

    &[data-root-banner="false"]
        color: $blue
        background-color: $t-blue

.root-banner_remove
    color: $red

