@use "/src/style/color.sass" as *
@use "/src/style/fonts_.sass" as *


.root-title__item
    transition: background-color 0.3s
    border-bottom: 1px solid $border

    td
        padding: 14px 10px
        text-align: center
        vertical-align: middle
        font-size: 18px
        font-weight: 600

        p
            width: fit-content
            margin: 0 auto
            padding: 6px
            border-radius: 6px
            text-transform: capitalize
            max-width: 90px
            width: 100%

        &[data-status="ongoing"]
            p
                color: $success
                background-color: rgba($success, 0.2)

        &[data-status="completed"]
            p
                color: $info
                background-color: rgba($info, 0.2)

        h4
            word-break: break-all

    &:hover
        background-color: rgba($bg-secondary, 0.7)

.root-title__img-container
    width: 70px
    margin: 0 auto
    aspect-ratio: 2 / 3

    img
        border-radius: 4px
        width: 100%
        height: 100%
        object-fit: cover

.rot-title_number
    font-family: $font-number
    font-size: 20px

.root-title__sub
    color: $muted

.root-title__btn
    vertical-align: middle
    display: inline-flex
    gap: 15px

    .btn-default
        color: $accent

    .btn-default, a
        padding: 8px
        border-radius: 4px
        background-color: $border

.root-title__rating
    display: flex
    align-items: center
    justify-content: center
    gap: 5px

    svg
        width: 30px
        height: 30px
        color: $accent

