.hotkey__item
    display: flex
    justify-content: space-between
    align-content: center

.btn-back-settings-video__container
    display: flex
    align-items: center
    height: 12px

.hotkey__item + .hotkey__item
    margin: 5px 0
