@use "/src/style/color.sass" as *

    
@keyframes rotation_v2
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)


.loader
    border-radius: 50%
    display: block
    border-top: 4px solid $gray
    border-right: 4px solid transparent
    box-sizing: border-box
    animation: rotation_v2 1s linear infinite
    margin: 10px auto
    
    &::after 
        content: ''
        box-sizing: border-box
        position: absolute
        left: 0
        top: 0
        border-radius: 50%
        border-bottom: 4px solid $sub-gray
        border-left: 4px solid transparent

    &[data-size-loader="default"]
        width: 48px
        height: 48px
        
        &::after
            width: 48px
            height: 48px 

    &[data-size-loader="small"]
        width: 20px
        height: 20px
        
        &::after
            width: 20px
            height: 20px

    &[data-center="true"]
        position: absolute
        top: 50%
        left: 50%
