.masonry
    margin-top: 20px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    margin-left: -30px
    width: auto

.masonry__column
    padding-left: 30px

.schedules__list
    width: 100%

    .point::before
        width: 4px
        height: 4px
        left: -7px
        top: 6px

.schedules__empty
    width: 250px
    margin: 0 auto

    img
        max-width: 100%
        max-height: 100%
