.schedules
    min-height: 250px
    
.container-coming-soon
    min-height: 50px
    
.masonry 
    margin-top: 20px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    margin-left: -30px
    width: auto
    
.masonry__column 
    padding-left: 30px

.schedules__list
    width: 100%
    
    .point::before
        width: 4px
        height: 4px
        left: -7px
        top: 6px

.schedules__empty
    text-align: center
    margin: 15px 0

.switch-day__wrapper
    width: 100%
    
    .switch-container
        justify-self: end

.transition:has(.schedule__item)
    width: 100%
