@use "/src/style/color.sass" as *


.required-lbl
    display: inline-block
    margin-bottom: 5px
    font-size: 18px
    color: $muted
    font-weight: 600
    position: relative

    &[data-required="false"]::before
        content: "*"
        position: absolute
        color: $accent
        font-size: 25px
        top: -5px
        right: -15px
