@use "/src/style/color.sass" as *
@use "/src/style/fonts_.sass" as *


.rating
    background-color: rgba($bg-secondary, 0.7)
    border-radius: 6px
    border: 1px solid $border
    padding: 20px
    height: fit-content

.rating__top
    display: flex
    align-items: center
    gap: 20px

    h3
        font-size: 55px
        font-family: $font-number
        font-weight: 300
        width: 60px
        height: 60px
