$white: #FFFAFA
$sub-white: rgb(119 118 118 / 40%)

$black: #020202
$sub-black: #0a0a0a
$t-black: #020202db

$gray: color-mix(in srgb, $black 55%, $white 45%)
$sub-gray: color-mix(in srgb, $black 90%, $white 10%)

$red: #D53032
$sub-red: color-mix(in srgb, $red 40%, $black 60%)

$green: #62ad0c

$yellow: #FAD201
