@use "/src/style/color.sass" as * 


.custom-select
    width: 100% !important
    font-size: 18px
    color: $gray
    font-family: "Jura", sans-serif !important
    max-width: 350px !important

    &__placeholder
        &:first-letter
            text-transform: capitalize

    &__control
        background-color: $sub-white !important
        border-radius: 4px !important
        border-style: none !important
        cursor: pointer !important
        padding: 0 4px !important

        &--is-focused
            box-shadow: none !important

    &__single-value
        color: $white !important

        &:first-letter
            text-transform: capitalize

    &__indicator-separator
        background-color: $sub-black-2 !important

    &__input-container
        height: 30px !important

    &__menu
        width: 100% !important
        max-width: 350px !important
        top: 45px !important
        background-color: $sub-black-2 !important
        border-radius: 8px !important
    
    &__option
        transition: background-color 0.3s !important
        border-radius: 6px !important 
        cursor: pointer !important
        padding: 12px 8px !important
        background-color: transparent !important
        color: $white !important

        &:first-letter
            text-transform: uppercase

        &:hover
            background-color: $t-red !important
        
