@use "/src/style/color.sass" as *


.input-checkbox__container
    width: 30px
    height: 14px
    position: relative

    &[data-size="large"]
        width: 40px
        height: 20px

.input-checkbox
    position: absolute
    z-index: -1
    opacity: 0

    & + .input-checkbox__label
        cursor: pointer

        &::before
            content: ""
            position: absolute
            top: 0
            right: 0
            width: 28px
            height: 14px
            border-radius: 10px
            background-color: $gray
            transition: background-color 0.3s ease

        &::after
            content: ""
            position: absolute
            top: 50%
            left: 4px
            width: 10px
            height: 10px
            border-radius: 50%
            background-color: $white
            transform: translateY(-50%)
            transition: left 0.3s ease

    &:checked + .input-checkbox__label::before
        background-color: $red

    &:checked + .input-checkbox__label::after
        left: 18px

    & + .input-checkbox__label[data-size="large"]
        &::before
            width: 40px
            height: 20px

        &::after
            left: 2px
            width: 16px
            height: 16px

    &:checked + .input-checkbox__label[data-size="large"]::after
        left: 22px
