@use "/src/style/color.sass" as * 

    
.input-search
    width: 100%
    border-radius: 8px
    padding: 8px
    background-color: $sub-white
    font-size: 16px
    color: $white
    font-family: sans-serif
    height: 40px
    
    &::-webkit-search-cancel-button
        opacity: 0 !important
        visibility: hidden
        position: absolute
