@use "/src/style/color.sass" as *


.input-default__container
    position: relative

.input-default
    width: 100%
    height: 46px
    padding: 8px 14px 10px 10px
    background-color: $sub-black
    color: $white
    font-size: 20px
    font-family: "Jura", sans-serif
    line-height: normal
    font-weight: 600
    border-radius: 8px

    &:disabled
        pointer-events: none

    &:first-letter
        text-transform: capitalize

.input-default__loader
    position: absolute
    top: 50%
    right: 14px
    transform: translateY(-50%)

.input-default__error
    color: $red
    position: absolute
    top: -20px
    right: 0
    font-size: 14px
    font-weight: 600
