@use "/src/style/color.sass" as * 


.textarea-default__inner
    position: relative

    label
        position: absolute
        background-color: $white
        opacity: 0.2
        width: 100%
        height: 2px
        bottom: 5px
        left: 0
        right: 0
        
        &::before,
        &::after
            content: ""
            position: absolute
            background-color: $red
            width: 0
            height: 2px
            transition: width 0.8s

        &::before
            right: 0
        
        &::after
            left: 0

.textarea-default
    padding: 8px
    color: $white
    width: 100%
    font-size: 20px
    overflow: hidden
    max-height: 300px

    &:focus ~ label::before,
    &:focus ~ label::after
        width: 50%
