@use "/src/style/color.sass" as * 


.textarea-default__inner
    position: relative
    background-color: $sub-black
    border-radius: 8px

.textarea-default
    padding: 8px
    color: $white
    width: 100%
    font-size: 20px
    overflow: hidden
    font-weight: 600
    font-family: "Jura", sans-serif

.textarea-default__error
    color: $red
    position: absolute
    top: -9px
    right: 0
    font-size: 14px
    font-weight: 600
