@use "/src/style/color.sass" as *

.header-form
    position: sticky
    top: 0px
    z-index: 9
    padding: 23.5px 0
    background-color: $bg-primary
    border-bottom: 1px solid $border

.header-form__wrapper
    max-width: 1578px
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 auto

.header-form__container
    display: flex
    align-items: center
    gap: 20px
    font-size: 18px

    .btn-default
        padding: 10px 14px
        border-radius: 8px
        color: $muted
        background-color: rgba($disabled, 0.7)
        transition: color 0.3s, background-color 0.3s
        display: flex
        align-self: center
        gap: 4px

        &:hover
            color: $primary
            background-color: rgba($disabled, 0.9)

.header-form__btn
    display: flex
    gap: 20px

    .btn-default
        padding: 10px 14px
        border-radius: 8px
        transition: color 0.3s, background-color 0.3s
        display: flex
        gap: 4px
        width: 140px
        height: 41px
        justify-content: center
        align-items: center

        &[data-lock="true"]
            pointer-events: none

        &:first-child
            color: $muted
            background-color: rgba($disabled, 0.7)

            &:hover
                color: $primary
                background-color: rgba($disabled, 0.9)

        &:last-child
            color: $accent
            background-color: $accent-transparent

.header-form__children
    p
        font-size: 14px
        color: $muted
        font-weight: 900
