@use "/src/style/color.sass" as *

.title__bottom
    display: flex
    gap: 20px
    justify-content: space-between

.title__outlet
    flex-basis: 1110px
    margin-top: 20px
    border-radius: 6px
    background-color: rgba($bg-secondary, 0.7)
    padding: 20px
    border: 1px solid $border
