{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"semi": false,
	"trailingComma": "all",
	"overrides": [
		{
			"files": "*.sass",
			"options": {
				"useTabs": false
			}
		}
	],

	"plugins": ["@trivago/prettier-plugin-sort-imports"],

	"importOrder": [
		"^react$",
		"^react",
		"<THIRD_PARTY_MODULES>",

		".*/ui/icon/.*",
		".*/ui/btn/.*",
		".*/ui/input/.*",
		".*/ui/.*",

		".*/components/.*",
		".*/section/.*",

		".*/pages/auth/.*",
		".*/pages/anime/.*",
		".*/pages/franchise/.*",
		".*/pages/schedule/.*",
		".*/pages/genre/.*",
		".*/pages/new_episode/.*",
		".*/pages/root/.*",
		".*/pages/user/.*",
		".*/pages/error/.*",

		".*/item/.*",
		".*/loader/.*",
		".*/wrapper/.*",
		".*/popup/.*",

		".*/context/.*",
		".*/providers/.*",
		".*/hooks?/.*",

		"^[./].*\\.jsx$",
		"^[./].*\\.js$",

		"^\\./style/reset\\.sass$",
		"^\\./style/main\\.sass$",

		"^[./].*\\.(css|sass|scss)$"
	],

	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
