@use "/src/style/color.sass" as *


.switch-day__container
    display: flex
    align-items: center
    column-gap: 10px
    border-radius: 6px
    background-color: $sub-gray
    overflow: hidden

    .btn-default
        padding: 10px
        font-weight: 600
        transition: color 0.3s, background-color 0.3s
        font-size: 16px

        &[data-day-active="today"],
        &[data-day-active="tomorrow"]
            background-color: $t-red
            color: $red
