@use "/src/style/color.sass" as *

.section__wrapper
    margin-top: 5px
    margin-bottom: 15px
    position: relative

    .section_swiper
        padding: 0 18px

.section__inner
    display: flex
    justify-content: space-between
    color: $primary
    margin-bottom: 20px

.section__title
    font-size: 20px
    display: flex
    align-items: flex-end
    fill: $accent
    gap: 5px

    svg
        width: 16px
        height: 16px

.section__link
    border: 1px solid $secondary
    padding: 4px 10px
    border-radius: 4px

.section__btn_middle
    position: absolute
    z-index: 99
    top: 50%
    right: 0
    left: 0
    display: flex
    justify-content: space-between

    .btn-default
        width: 35px
        height: 35px
        border-radius: 50%
        background-color: rgba($bg-secondary, 0.7)
        border: 1px solid $border
        transform: translateY(-50%)

        svg
            height: 20px
            width: 20px
