@use "/src/style/color.sass" as * 


.section__wrapper
    margin-top: 20px
    display: flex
    justify-content: space-between
    column-gap: 20px
    align-items: center
    flex-direction: column

.section__inner
    display: flex
    align-items: center
    width: 100%
    margin-bottom: 15px
    
    &::before,
    &::after
        content: ""
        flex: 1
        height: 2px
        background-color: $gray
        border-radius: 2px

.section__link
    display: flex
    justify-content: center
    padding: 0 12px

.section__title
    font-size: 30px
    color: $gray
    position: relative
    padding: 0px 10px
    transition: color 0.3s

    &:hover
        color: $white
