@use "/src/style/color.sass" as * 

    
.title-data__section
    margin-top: 91px

.title-data__inner
    margin-top: 20px

.title-data__about
    display: flex

.title-data__img-container
    flex-basis: 300px
    height: 420px
    overflow: hidden
    border-radius: 10px
    object-fit: contain
    align-self: center
    position: relative
    
    &:not([src])::before
        content: ""
        position: absolute
        width: 100%
        height: 100%    
        opacity: 0.2
        background-color: $sub-black-2
        border-radius: 10px

.title-data__img
    width: 100%
    height: 100%
    display: block
    object-fit: cover

    &:not([src])
        opacity: 0
        visibility: hidden

.title-data__info
    margin-left: 20px
    align-self: center

.title-data__anime-title
    font-weight: 900
    line-height: 1.1
    max-width: 670px
    overflow: hidden
    font-size: 1.2em
    text-wrap: balance
    overflow: hidden
    display: -webkit-box;
    -webkit-line-clamp: 5
    -webkit-box-orient: vertical
    text-overflow: ellipsis

.title-data__age-shed
    margin: 15px 0
    display: flex
    font-size: 16px
    column-gap: 10px

.title-data__age
    border: 1px solid $gray
    border-radius: 4px
    padding: 4px
    font-weight: 900
    color: $gray

.title-data__link
    padding: 4px
    border: 1px solid $green
    border-radius: 4px
    color: $green
    text-transform: capitalize

.title-data__item
    display: flex

    a
        display: flex

    + .title-data__item
        margin-top: 10px

    dt
        color: $gray
    dd
        margin-left: 10px
        font-weight: 900
        text-transform: capitalize

.title-data__tag-list
    display: flex
    margin: 10px 0
    color: $gray

    a
        text-transform: capitalize
        color: $white
        margin-left: 10px

.title-data__tag-item
    position: relative

    &::before 
        content: ""
        position: absolute
        bottom: -2px
        left: 0
        width: 100%
        height: 1px
        background-color: $gray
        opacity: 0
        visibility: hidden
        transition: visibility 0.3s, opacity 0.3s

    &:hover::before 
        opacity: 1
        visibility: visible

    + .title-data__tag-item
        &::after
            content: ""
            position: absolute
            top: 50%
            left: -8px
            width: 5px
            height: 5px
            border-radius: 50%
            background-color: $gray
            transform: translate(-50%, -50%)

.title-data__anime-description
    margin-top: 20px
    font-size: 18px
    color: $gray

.title-data__bottom
    display: flex
    align-items: center
    column-gap: 15px
    margin-top: 15px
