@use "/src/style/color.sass" as *


.search-popup__link
    margin: 10px 0
    height: 90px
    display: flex
    border-radius: 6px
    padding: 6px
    transition: background-color 0.3s

    &:hover
        background-color: #111

    &:first-child
        margin-top: 20px

.search-popup__link,
.search-popup_skeleton
    position: relative

    &:not(:last-child)::before
        content: ""
        position: absolute
        bottom: -10px
        left: 0
        width: 100%
        height: 1px
        background-color: $gray

.search-popup__img-inner
    max-width: 60px

    img
        width: 100%
        height: 100%
        vertical-align: middle
        object-fit: cover
        border-radius: 6px

.search-popup__content
    margin-left: 15px
    display: flex
    flex-direction: column
    max-width: 370px
    height: 100%
    width: 100%
    padding: 4px 0
    justify-content: space-between

    h4
        color: $gray
        margin-top: 2px

.search-popup__bottom
    margin-top: 10px
    font-size: 14px
    color: $gray
    font-weight: 600
    display: flex
    gap: 20px

    li
        position: relative

    li::first-letter
        text-transform: capitalize
