.release__skeleton-bg    
    span
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 8px

.release__img_skeleton
    margin-right: 20px

    span
        min-height: 290px
        min-width: 200px
        --base-color: #252525 !important
        --highlight-color: #404040 !important
        border-radius: 10px

.release__item-info
    span
        --base-color: #252525 !important
        --highlight-color: #404040 !important

.release__desc-list_skeleton
    span
        width: 150px
        height: 20px
        margin-bottom: 10px

.release__item-description_skeleton
    span
        margin-bottom: 5px
        height: 20px

.release__btn_skeleton
    span
        position: absolute
        width: 100px
        height: 30px
        bottom: 5px
