@use "/src/style/color.sass" as * 


.btn-default
    overflow: hidden
    font-size: 14px
    color: $white
    padding: 0
    font-family: "Jura", sans-serif
    font-weight: 600
    font-size: 16px

    &:disabled 
        color: $gray
        cursor: auto

    svg
        vertical-align: middle
        fill: $white

[data-stroke="true"]
    svg
        stroke: $white

