@use "/src/style/color.sass" as *


.banner__container
    width: 100%
    aspect-ratio: 35 / 9
    min-height: 400px

.swiper
    width: 100%
    border-radius: 10px
    height: 100%

    &:hover
        .banner__bg
            opacity: 0.2

.swiper-pagination-bullet
    width: 8px
    height: 8px
    border-radius: 50%
    background-color: $accent

.swiper-pagination-bullet-active
   background-color: $accent-active

.banner__btn
    position: absolute
    bottom: 50px
    right: 20px
    padding: 0 14px
    z-index: 99
    display: flex
    justify-content: space-between
    gap: 10px

    .btn-default
        width: 35px
        height: 35px
        border-radius: 8px
        background-color: rgba($bg-secondary, 0.7)

        svg
            width: 20px
            height: 20px
