@use "/src/style/color.sass" as *


.banner__container
    width: 100%
    aspect-ratio: 35 / 9

.swiper
    width: 100%
    border-radius: 10px
    height: 100%

    &:hover
        .banner__bg
            opacity: 0.2

.swiper-pagination-bullet
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: $accent

.swiper-pagination-bullet-active
   background-color: $accent-active

.banner__btn
    position: absolute
    top: 50%
    left: 0
    padding: 0 14px
    width: 100%
    z-index: 9
    display: flex
    justify-content: space-between
    gap: 10px

    .btn-default
        border-radius: 6px
        width: 35px
        height: 35px
        border-radius: 50%
        background: $bg-secondary
        border: 1px solid $border-light

        svg
            width: 20px
            height: 20px
